# Python
__pycache__/
*.py[cod]
*~
*.egg-info/
*.dist-info/

# Virtual environment
venv/
.env
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env

# Jupyter
.ipynb_checkpoints/

# Misc
*.sqlite3
*.db
